#gamewrapper{
    width: 676px;
    padding: 10px 0px 10px 0px;
    background-color: lightgray;
    border: 2px solid darkgray;
}
#gametext{
    font-style: italic;
    font-weight: 700;
    width: 600px;
    justify-content: center;
}

.move-cell{
    height:84px;
    width:84px;
    max-width:84px;
    border: 2px solid darkgray;
    background-image: url('assets/c4open.png');
}

.move-img{
    margin: auto;
}
.link{
    cursor: pointer;
}

@media (max-width:600px){
    #contentMain{
        margin:0px;
    }
}

@media (min-width:601px) and (max-width:992px){

}


/*


.move-cell{
    max-height:110px;
    min-width: 50px;
    max-width:110px;
    min-height: 50px;
    padding: 0px;
}






*/
