.cursive{
    font-family: 'Pacifico', cursive;
}
#h1title{
    font-size: 44px;
}

@media (max-width:600px){
    #h1title{
        font-size: 22px;
    }
}

@media (min-width:601px) and (max-width:992px){
    #h1title{
        font-size: 33px;
    }
}
