#gamewrapper{
    width: 320px;
    padding: 10px 0px 10px 0px;
    background-color: lightgray;
}
#gametext{
    font-style: italic;
    font-weight: 700;
    width: 280px;
    justify-content: center;
}

.move-cell{
    height:100px;
    width:100px;
    padding: 10px 0px 0px 8px;
}

.move-img{
    margin: auto;
}

.row-top{
    border-bottom: 2px solid darkgray;
}
.row-bottom{
    border-top: 2px solid darkgray;
}
.col-left{
    border-right: 2px solid darkgray;
}
.col-right{
    border-left: 2px solid darkgray;
}


@media (max-width:600px){
    #contentMain{
        margin:0px;
    }
    .move-cell{
        width:30vw;
        padding: 5px;
    }
}

@media (min-width:601px) and (max-width:992px){

    .move-cell{
        width:30vw;
        padding: 5px;
    }
}


/*


.move-cell{
    max-height:110px;
    min-width: 50px;
    max-width:110px;
    min-height: 50px;
    padding: 0px;
}






*/
